<!DOCTYPE html>
<html lang="pt-br">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Next Beef</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="shortcut icon" href="/img/nextbeefico.ico" type="image/x-icon">
        <link rel="stylesheet" href="/views/site/css/contato.css">
</head>

<body>
        <div id="wrapper">
                <div class="container body-content">
                        <header>
                                <div class="logo">
                                        <img src="/img/nextbeeflogo.png" alt="Logotipo next beef">
                                </div>
                                <div class="topo">
                                        <div class="botao">
                                                <img src="/img/cart.png" alt="carrinho de compras">
                                                <a href="">Carrinho</a>
                                        </div>
                                        <div class="principal">
                                                <nav>
                                                        <ul>
                                                                <a href="/views/site/index.html">
                                                                        <li>Home</li>
                                                                </a>
                                                                <a href="/views/site/sobrenos.html">
                                                                        <li>Sobre nós</li>
                                                                </a>
                                                                <a href="/views/site/produtos.html">
                                                                        <li>Produtos</li>
                                                                </a>
                                                                <a href="/views/site/contato.html">
                                                                        <li>Contato</li>
                                                                </a>
                                                                <a href="/views/site/login.html">
                                                                        <li>Login</li>
                                                                </a>
                                                        </ul>
                                                </nav>
                                        </div>
                                </div>
                        </header>
                        <div class="corpo">
                                <div class="redes">
                                        <h2>Contatos</h2>
                                        <div class="rede">
                                                <img src="/img/icone/whatsapp.png" alt="contato whatsapp">
                                                <h3>Clube Next Beef no WhatsApp! Aproveite todas as promoções.</h3>
                                        </div>
                                        <div class="rede">
                                                <img src="/img/icone/insta.png" alt="contato instagram">
                                                <h3>Acompanhe a Next Beef pelo Instagram e suas novidades.</h3>
                                        </div>
                                        <div class="rede">
                                                <img src="/img/icone/face.png" alt="">
                                                <h3>Siga a Next Beef no Facebook e fique por dentro.</h3>
                                        </div>
                                        <div class="rede">
                                                <img src="/img/icone/whatsapp.png" alt="">
                                                <h3>Fale Conosco.</h3>
                                        </div>
                                </div>
                                <div class="localizacao">
                                        <h2>Nossa localização</h2>
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d926.5350880675662!2d-48.12286147147018!3d-21.736083852999098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b8f6f8e6bbeabb%3A0x908563490dec7782!2sR.%20Sebasti%C3%A3o%20Fernandes%20Nogueira%2C%2060%2C%20Am%C3%A9rico%20Brasiliense%20-%20SP%2C%2014820-000!5e0!3m2!1spt-BR!2sbr!4v1686580624757!5m2!1spt-BR!2sbr"
                                                width="600" height="450" style="border:0;" allowfullscreen=""
                                                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                        </div>
                </div>
                <footer>
                        <p>Desenvolvido por alunos da Tecnologia da informação 2022</p>
                </footer>
        </div>
</body>
<script src="./js/slick-1.8.1/slick/slick.js"></script>

</html>