<!DOCTYPE html>
<html lang="pt-br">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Next Beef</title>
        <link rel="stylesheet" href="./js/slick-1.8.1/slick/slick.css">
        <link rel="stylesheet" href="./js/slick-1.8.1/slick/slick-theme.css">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="shortcut icon" href="/img/nextbeefico.ico" type="image/x-icon">
</head>

<body>
        <div id="wrapper">
                <div class="container body-content">
                        <header>
                                <div class="logo">
                                        <img src="/img/nextbeeflogo.png" alt="Logotipo next beef">
                                </div>
                                <div class="topo">
                                        <div class="botao">
                                                <img src="/img/cart.png" alt="carrinho de compras">
                                                <a href="">Carrinho</a>
                                        </div>
                                        <div class="principal">
                                                <nav>
                                                        <ul>
                                                                <a href="/views/site/index.html">
                                                                        <li>Home</li>
                                                                </a>
                                                                <a href="/views/site/sobrenos.html">
                                                                        <li>Sobre nós</li>
                                                                </a>
                                                                <a href="/views/site/produtos.html">
                                                                        <li>Produtos</li>
                                                                </a>
                                                                <a href="/views/site/contato.html">
                                                                        <li>Contato</li>
                                                                </a>
                                                                <a href="/views/site/login.html">
                                                                        <li>Login</li>
                                                                </a>
                                                        </ul>
                                                </nav>
                                        </div>
                                </div>
                        </header>
                        <div class="carrossel">
                                <img src="/img/carrossel/carrossel.jpg" alt="">
                                <img src="/img/carrossel/carrossel1.png" alt="">
                                <img src="/img/carrossel/carrossel2.jpg" alt="">
                                <img src="/img/carrossel/carrossel3.jpg" alt="">
                                <img src="/img/carrossel/carrossel4.jpeg" alt="">
                        </div>
                        <div class="texto">
                                <h2>Ofertas da Semana</h2>
                        </div>
                        <div class="produtos">
                                <div class="linha">
                                        <div class="produto">
                                                <img src="/img/carne2.png" alt="picanha">
                                                <p>Picanha BBK SECRETS</p>
                                                <p>R$ 49,90</p>
                                        </div>
                                        <div class="produto">
                                                <img src="/img/carne.png" alt="contrafile">
                                                <p>Contrafilé Frigol Chef</p>
                                                <p>R$ 49,90</p>
                                        </div>
                                        <div class="produto">
                                                <img src="/img/carne1.png" alt="file de costela">
                                                <p>Filé de Costela FRIGOL CHEF</p>
                                                <p>R$ 49,90</p>
                                        </div>
                                </div>
                        </div>
                </div>
                <footer>
                        <p>Desenvolvido por alunos da Tecnologia da informação 2022</p>
                </footer>
        </div>
</body>
<script src="./js/jquery-3.7.0.min.js"></script>
<script src="./js/slick-1.8.1/slick/slick.js"></script>
<script src="./js/carrossel.js"></script>

</html>