<!DOCTYPE html>
<html lang="pt-br">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Next Beef</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="shortcut icon" href="/img/nextbeefico.ico" type="image/x-icon">
        <link rel="stylesheet" href="/views/site/css/sobrenos.css">
</head>

<body>
        <div id="wrapper">
                <div class="container body-content">
                        <header>
                                <div class="logo">
                                        <img src="/img/nextbeeflogo.png" alt="Logotipo next beef">      
                                </div>
                                <div class="topo">
                                        <div class="botao">
                                                <img src="/img/cart.png" alt="carrinho de compras">
                                                <a href="">Carrinho</a>
                                        </div>
                                        <div class="principal">
                                                <nav>
                                                        <ul>
                                                                <a href="/views/site/index.html">
                                                                        <li>Home</li>
                                                                </a>
                                                                <a href="/views/site/sobrenos.html">
                                                                        <li>Sobre nós</li>
                                                                </a>
                                                                <a href="/views/site/produtos.html">
                                                                        <li>Produtos</li>
                                                                </a>
                                                                <a href="/views/site/contato.html">
                                                                        <li>Contato</li>
                                                                </a>
                                                                <a href="/views/site/login.html">
                                                                        <li>Login</li>
                                                                </a>
                                                        </ul>
                                                </nav>
                                        </div>
                                </div>
                        </header>             
                </div>
                <div class="texto">
                        <h2>CONHEÇA A NEXT BEEF, SEU PRÓXIMO BIFE.</h2>
                        <p>Tudo começou em 2019 com Lysandro Palma onde <br> consistia somente numa venda casual de carnes. <br>

                                Era um pequeno grupo de amigos, onde ter uma carne <br> de qualidade para o churrasco em família era essencial. <br><br>
                                A partir daí, fluiu de uma forma orgânica, cada vez <br> mais pessoas queriam provar e <br> ter em seu churrasco uma carne de qualidade. <br> <br>

                                Atualmente, trabalhamos já com 8 marcas diferentes <br> e diversas linhas a fim de trazer uma ampla gama de <br> produtos para rechear o seu final de semana. <br><br>

                                Estamos sempre trabalhando com novidades para <br> vocês, trazendo sempre produtos de qualidade

                                e <br> facilitando a venda de carnes nobres na região. <br><br>

                                Com a criação da nossa marca e nossa identidade, a Next Beef foi tomando <br> novas proporções

                                chegando a atingir Araraquara e região.<br><br><br><br><br></p>

                </div>
                <footer>
                        <p>Desenvolvido por alunos da Tecnologia da informação 2022</p>
                </footer>
        </div>
</body>
        <script src="./js/slick-1.8.1/slick/slick.js"></script>
</html>
