.linha{
        margin-top: 10px;
        margin-bottom: 10px;
}

.organizacao{
        padding-top: 10px;
        padding-bottom: 10px;
}

h2{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
}

input{
        margin-left: 1300px;
        border-radius: 3px;
}